body{
    background-color:rgb(237, 237, 237);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.day-view{
    position:relative;
    display: inline-block;
    width:150px;
    padding:10px;
    background-color:rgba(255,255,255,0.9);
    margin:2px;
    min-height:100px;
    cursor: pointer;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
}
.day-view img{
    position:absolute;
    top:0px;
    right:0px;
    width:80px;
    height:80px;
}
.day-view .temp{
    position:absolute;
    top:70px;
    right:20px;
    font-size: 1.2em;
}
.days-section{
    min-width:348px;
    max-width:870px;
}
.main-section{
    position:relative;
    max-width:864px;
    /*background-color:rgba(255,255,255,0.9);*/
    /* box-shadow:0 0 5px rgba(0,0,0,0.2); */
    margin:2px;
}
.main-view{
    position:relative;
    background-color:rgba(255,255,255,0.9);
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    max-width:520px;
    min-width:345px;
}
.main-view .row{
    text-align:center;
}
.main-view .row > div{
    display:inline-block;
    margin:5px;
    width:30%;
    height:150px;
    vertical-align:top;
    
}
.main-view .temp{
    position:absolute;
    right:20px;
}